@import "../../../../assets/styles/variables";

.car-item {
  border: solid 1px $color-primary;
  border-radius: 4px;
  margin-bottom: 15px;
}

small {
  margin-left: 30px;
}

@media screen and (max-width: 500px) {
  li {
    font-size: small;
  }
}
