<app-masthead [title]="mhTitle" [bgImage]="bgImage"></app-masthead>

<section class="container py-5">
  <div class="row mt-5">
    <div class="col-12 col-lg-6">
      <img
        loading="lazy"
        [src]="image"
        [alt]=""
        [width]="width"
        [height]="height"
        class="img-fluid"
      />
    </div>
    <div class="col-12 col-lg-6">
      <form [formGroup]="contactForm" (ngSubmit)="submitForm()">
        <h2 class="mt-3">You have a question</h2>
        <h3>a doubt or need more information? Write us!</h3>
        <div class="form-floating">
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="name"
          />
          <label for="name">Name</label>
        </div>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            placeholder="email"
          />
          <label for="email">Email</label>
        </div>

        <div class="form-floating">
          <input
            type="email"
            class="form-control"
            id="confirmEmail"
            formControlName="confirmEmail"
            placeholder="Confirm email"
          />
          <label for="confirmEmail">Confirm Email</label>
        </div>

        <div class="form-floating">
          <textarea
            class="form-control"
            id="message"
            formControlName="message"
            placeholder="Message"
            rows="8"
          ></textarea>
          <label for="name">Message</label>
        </div>
        <input
          type="submit"
          class="btn btn-primary w-100 mt-4"
          value="Send"
          [disabled]="contactForm.invalid"
        />
        <p *ngIf="showErrorMessage" class="mt-3 text-danger text-center">
          There was an error submitting the form
        </p>
        <div class="row mt-4 text-center">
          <div class="col">
            <app-phone size="md"></app-phone>
          </div>
          <div class="col-auto">
            <app-contact-email size="md"></app-contact-email>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
