@import "../../../../assets/styles/variables";
.img-container {
  background: center center no-repeat;
  background-size: cover;
  min-height: 450px;
}

h1 {
  color: white;
  font-weight: 700;
  font-size: 3.5rem;
  margin-top: 115px;
}

h2 {
  font-weight: 600;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .img-container {
    background-image: none !important;
    min-height: auto;
    h1 {
      color: $color-secondary;
      margin-top: 0;
    }
  }
}
