<app-masthead
  title="Reserve"
  bgImage="../../../assets/images/home-masthead.jpg"
  height="600"
>
  <div class="row p-2 justify-content-center">
    <div class="col-12 col-lg-9">
      <app-search-form
        [topSpacing]="false"
        [defaultValues]="true"
        [dataSearch]="dataSearch"
        (searchResultsSaved)="loadCarlist()"
      >
      </app-search-form>
    </div>
  </div>
</app-masthead>
<app-car-list [list]="carList"></app-car-list>
<div *ngIf="!carList">
  <app-details [items]="carList"></app-details>
</div>
