<app-masthead [bgImage]="bgImage" [title]="mhTitle"></app-masthead>
<section class="bg-color-odd py-5">
  <div class="container">
    <div class="row">
      <h2 class="col-12 pb-3 d-flex justify-content-center">
        {{ subtitle }}
      </h2>
      <p class="col-auto" [innerHTML]="intro"></p>
    </div>
  </div>
</section>
<div class="row mt-3">
  <div class="col-12 col-md-6">
    <img
      loading="lazy"
      visual
      [src]="url"
      class="size-animation img-fluid rounded-3"
      [alt]=""
      [width]=""
      [height]=""
    />
  </div>
  <div class="col-12 col-md-6 p-5">
    <app-accordion
      [accordionList]="accordionData"
      [displayChevron]="true"
    ></app-accordion>
  </div>
</div>
<section class="bg-color-odd py-5">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <p class="col-auto" [innerHTML]="content"></p>
    </div>
  </div>
</section>
