<app-masthead [bgImage]="mhImage">
  <div class="row pb-5 justify-content-center">
    <div class="col-12 col-lg-9">
      <app-search-form
        (searchResultsSaved)="gotoVechicleList()"
      ></app-search-form>
    </div>
  </div>
</app-masthead>
<section class="bg-color-odd py-5">
  <div class="container">
    <div class="row">
      <h2 class="col-12 pb-3 d-flex justify-content-center">{{ title }}</h2>
      <p class="col-12 d-flex justify-content-center">{{ content }}</p>
      <p class="col-12 d-flex justify-content-center">{{ content2 }}</p>
    </div>
  </div>
</section>

<section>
  <app-content-image>
    <h2 class="fw-bold">{{ firstSectionTitle }}</h2>
    <p [innerText]="firstContent1"></p>
    <p [innerText]="firstContent2"></p>
    <a
      class="btn btn-secondary text-uppercase fw-bold rounded-5"
      routerLink="/reserve"
      >{{ buttonText }}</a
    >
    <div class="row mb-3" visual>
      <div class="col-6">
        <img
          loading="lazy"
          [src]="firstUrl"
          [alt]=""
          [width]="Width"
          [height]="Height"
          class="img-fluid border border-bottom-0 border-top-0 border-start-0"
        />
      </div>
      <div class="col-6 bg-color">
        <h3>Volkswagen</h3>
        <p>Model : Gol</p>
        <p class="py-4">/</p>
        <a class="link" [href]="benefits">All Insurances ➞</a>
      </div>
    </div>
    <div class="row" visual>
      <div class="col-6">
        <img
          loading="lazy"
          src="../../../assets/images/renault-duster.webp"
          [alt]=""
          [width]="Width"
          [height]="Height"
          class="img-fluid border border-bottom-0 border-top-0 border-start-0"
        />
      </div>
      <div class="col-6">
        <h3>Renault</h3>
        <p>Model : Duster</p>
        <p class="py-4">/</p>
        <a class="link" [href]="benefits">All Insurances ➞</a>
      </div>
    </div>
  </app-content-image>
</section>

<section class="bg-color-odd icons-grid">
  <div class="container py-5 text-center">
    <h2>Car rental in Mexico with TouraCancun: many advantages!</h2>
    <p class="mb-5 mt-1">
      TouraCancun is the only vehicle rental company in Mexico to offer you as
      much <a [href]="benefits"> of advantages.</a>
    </p>
    <p>
      Whether you wish to spend a few days, or a few weeks, our rental offers
      adapt to your needs. Don't wait any longer to book renting your car in
      Cancun!
    </p>
    <ng-container *ngIf="gridIcons">
      <div class="row mt-5">
        <div
          class="col-6 col-md-3"
          *ngFor="let item of gridIcons | slice : 0 : 4"
        >
          <figure>
            <img
              loading="lazy"
              class="img-fluid"
              [src]="item.path"
              [alt]=""
              [width]=""
              [height]=""
            />
            <figcaption>{{ item.title }}</figcaption>
          </figure>
        </div>
      </div>

      <div class="row">
        <div
          class="col-6 col-md-3 pt-5"
          *ngFor="let item of gridIcons | slice : 4 : 8"
        >
          <figure>
            <img
              loading="lazy"
              class="img-fluid"
              [src]="item.path"
              [alt]=""
              [width]=""
              [height]=""
            />
            <figcaption>{{ item.title }}</figcaption>
          </figure>
        </div>
      </div>
      <a
        class="btn btn-outline text-uppercase fw-bold rounded-5 py-3 mt-5"
        [routerLink]="benefits"
      >
        Learn more</a
      >
    </ng-container>
  </div>
</section>
<section>
  <div class="row mt-3">
    <div class="col-xl-6">
      <img
        loading="lazy"
        visual
        src="https://touracancun.com/wp-content/uploads/2019/09/assurance-comprises.jpg"
        class="img-fluid rounded-3"
        [alt]=""
        [width]=""
        [height]=""
      />
    </div>
    <div class="col-xl-6 mt-5">
      <h2 class="fw-bold">
        At TouraCancun, all insurance is included in our prices
      </h2>
      <p class="mt-5">
        Unlike most of our competitors, at TouraCancun we always include the
        price of
        <a href="/assurances">insurance policies</a> in our rates of lease. This
        allows you to enjoy complete protection, without have to pay additional
        amount when you take possession of the vehicle.
      </p>
      <p>This insurance policy covers a host of points:</p>
      <ul class="fw-bold">
        <li>&#x2713; Collision</li>
        <li>&#x2713; Vehicle theft</li>
        <li>&#x2713; Glass breakage and tires</li>
        <li>&#x2713; And many others</li>
      </ul>
      <p class="mt-4">
        In addition, in the event of a problem, you will benefit from a free
        service breakdown assistance or towing as well as 24-hour
        French-speaking assistance 24 hours.
      </p>
      <div class="col-12">
        <a
          class="btn btn-outline text-uppercase fw-bold rounded-5 py-3 mt-5 m-3"
          [routerLink]="benefits"
          >Learn more</a
        >
        <a
          class="btn btn-secondary text-uppercase fw-bold rounded-5 py-3 mt-5 m-3"
          [routerLink]="reserve"
          >Reserve now</a
        >
      </div>
    </div>
  </div>
</section>
