@import "../../../assets/styles/variables.scss";

.card-custom {
  background-color: #f7f8f9;
  border-radius: 8px;
  padding: 30px 55px 40px;
  height: 100%;
}

figcaption {
  font-weight: 700;
  font-size: 1.2rem;
}
a {
  background-color: $color-highlight;
  border-radius: 30px;
}
