.size-animation {
  transition: all 0.25s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    transform: scale(1.1);
  }
}

.bg-color-odd {
  background-color: $color-gray-subtle;
}

.side-bordered {
  border-right: solid 1px white;
  border-left: solid 1px white;
}

.bordered {
  border: solid 1px $color-primary;
  border-radius: 4px;
}

.border-right {
  border-right: solid 1px $color-primary !important;
}

.border-bottom {
  border-bottom: solid 1px $color-primary !important;
}

.main-title {
  color: $color-secondary;
  font-size: 30px;
  font-weight: bold;
  margin: 30px 0;
}

.secondary-title {
  color: $color-primary;
  font-size: 18px;
  &.title-large {
    font-size: 24px;
  }
}

.font-large {
  font-size: 18px;
  font-weight: bold;
}

.bold {
  font-weight: 700;
}
